/*==================Спецификации==================*/

body {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #fff;
    min-width: 320px;
    background: url(../img/meik-schneider.png) center no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/*===============.navbar navbar-default==============*/
.navbar-expand-sm {
    margin-top: -44px;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

/*========================.form======================*/

.row.justify-content-end div.form{
    background-color: #28292B;
    height: auto;
    margin-top: 60px;
}

.inform {
    position: relative;
    text-align: center;
    margin-top: 8em;
    margin-bottom: 3em;
}

.form-control {
    border: 1px solid rgba(146, 123, 98, 0.2);
    border-radius: 2px;
    background: #28292B;
}

.form-group.login .form-control,
.form-group.password .form-control {
    background: #28292B;
    border: 1px solid rgba(146, 123, 98, 0.2);
    box-shadow: none;
    color: #fff;
}

.form-group.login .form-control:hover,
.form-group.password .form-control:hover {
    border: 1px solid rgba(246, 172, 155, 0.2);
    transition: .5s;
}


.btn {
    text-transform: uppercase;
    color: #fff;
    background: #927B62;
    border: 1px solid #614e3e;
    border-radius: 2px;
    width: 100%;
}

.btn:hover {
    border: 1px solid #967f65;
    color: #fff;
    box-shadow: none;
}

.authorization {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 8em;
}

.authorization a {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.authorization a:hover {
    text-decoration-line: underline;
}

/*!*======================.copyrights=====================*!*/

.copyright {
    text-align: center;
    margin-top: 15px;
}

.copyright p {
    font-weight: 300;
    font-size: 14px;
}

/*=====================Media requests==================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2560px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
    .clubvelochitta {
        margin-top: 31px;
        margin-left: 44px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
    .row.justify-content-end div.form {
        margin-top: 180px;
    }
    .inform {
        margin-top: 40px;
    }
    .authorization {
        margin-bottom: 4em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .clubvelochitta {
        margin-top: 18px;
        margin-left: 18px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1441px) {
    .clubvelochitta {
        margin-top: 70px;
        margin-left: 200px;
    }
    .row.justify-content-end div.form {
        margin-top: 100px;
        margin-right: 200px;
        max-width: 19%;
    }
    .authorization {
        margin-top: 54px;
        margin-bottom: 4em;
    }
    .copyright {
        margin-right: 154px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .navbar-expand-sm {
        margin-right: 10px;
    }

}